vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Dec 2007 06:14:40 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|19 Dec 2007 06:14:40 -0000
vti_filesize:IR|697
vti_cachedlinkinfo:VX|S|../images/body_midd_Bg.gif S|../images/body_midd_buttonBg.gif
vti_cachedsvcrellinks:VX|FSUS|XUXIANG/images/body_midd_Bg.gif FSUS|XUXIANG/images/body_midd_buttonBg.gif
vti_lineageid:SR|{E720A954-675B-410D-9B4A-D593F8749426}
vti_backlinkinfo:VX|
